<!--header-->
<header style="background-color:#f9f9f9;">

</header>

<!--contains two columns-->
<div class="container"  >
<div class="row">
    <!--column one-->
  <div class="col-sm p-4 text-end" style="background-color:#f9f9f9;">
      <h1> Alpha Blog </h1>
      <%= render 'layouts/navigation' %>

  </div>
    <!--column two-->
  <div class="col-sm p-4"style="background-color:red;">
    col 2
  </div>
</div>
</div>
<!--footer-->
<footer class="text-center" style="background-color:#f9f9f9;" >
  <%= render 'layouts/footer' %>
</footer>
