   <!--header-->
   <header style="background-color:#f9f9f9;">
   </header>
   <!--contains two columns-->
   <div class="container ">
      <div class="row">
         <!--column one-->
         <div class="col p-4 text-end"   >
            <%= render 'layouts/navigation' %>
         </div>
         <!--column two-->
         <div class="col-8 p-4">
            <%= render 'articles/articles' %>
         </div>
      </div>
   </div>
