
h1
  {
    font-family: 'Halant', serif;
    font-weight: bold
  }
h2
  {
    color: #444;
    font-family: 'Nunito Sans', sans-serif;
  }
p
  {
    color: #686868;
    font-family: 'Nunito Sans', sans-serif;
  }

  a:link, a:visited {
  color: #444;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
    color: #000
  }

li
  {
    color: #444;
    font-family: 'Nunito Sans', sans-serif;
  }


header
{
  padding-top: 30px;
  padding-bottom: 30px;
}

footer
{
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar{
  background-color: #4286f4 !important;
}

.page_header {
  font-family: 'Halant', serif;
  font-weight: bold ;
  font-size: 40px ;
}

#page-content {
  background-color: #f9f9f9;
}
