<%= link_to "Alpha Blog", root_path, class: "page_header" %>
<ul class="nav flex-column">

  <li class="nav-item">
    <%= link_to 'Sign Up', signup_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'About page', about_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Create new article', new_article_path, class: "nav-link" %>
  </li>
</ul>
