<%= link_to "Alpha Blog", root_path, class: "page_header" %>
<ul class="nav flex-column">
<li class="nav-item">
<a class="nav-link" <%= link_to 'About page', about_path %></a>
</li>
<li class="nav-item">
<a class="nav-link" <%= link_to 'Articles', articles_path %></a>
</li>
</ul>
